<?xml version="1.0"?>
<configuration>
  
	<appSettings>
		<add key="tl" value="3"/>
    <add key="cantDTE" value="2"/>
    
    <!-- Seteo de HOME -->
		<add key="eHome:78079790" value="EGATE_HOME"/>
		<add key="eHome:82878900" value="EGATE_HOME"/>

  </appSettings>
  
  <system.web>
		<compilation debug="true" />
		<authentication mode="Windows"/>
  </system.web>
  
	<system.codedom>
	</system.codedom>
  
	<system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="wssPortalEgresos.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
